/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
    height: fit-content; /* Chiều cao theo nội dung của thương hiệu ứng dụng */
    margin-top: 12px; /* Khoảng cách 12px từ phía trên */
}

    .menu .app-brand.demo #logoImg {
        height: 82px; /* Giữ chiều cao của logo */
        width: 82px; /* Giữ chiều rộng của logo */
        background-image: url(../../img/logo-img.png); /* Hình nền cho logo từ tệp ảnh */
        background-size: contain; /* Giữ nguyên tỷ lệ hình ảnh và không cắt khuất */
    }



.app-brand-text.demo {
    font-size: 1.75rem; /* Kích thước phông chữ cho văn bản thương hiệu */
    letter-spacing: -0.5px; /* Khoảng cách giữa các chữ cái */
}

/* ! For .layout-navbar-fixed added fix padding top to .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
    padding-top: 76px !important; /* Padding trên cho navbar rời */
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
    padding-top: 64px !important; /* Padding trên cho navbar mặc định */
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
    z-index: auto; /* Đặt z-index cho navbar để tránh xung đột với các phần tử khác */
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
    display: block !important; /* Tất cả các phần tử con của .demo-blocks thành dạng khối */
}

.demo-inline-spacing > * {
    margin: 1rem 0.375rem 0 0 !important; /* Khoảng cách cho các phần tử con của .demo-inline-spacing */
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. 
To remove margin-top from the first-child, use .demo-only-element class with 
.demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
    margin-top: 1rem !important; /* Khoảng cách phía trên cho các phần tử con */
    margin-bottom: 0 !important; /* Khoảng cách phía dưới bằng 0 */
}

.demo-vertical-spacing.demo-only-element > :first-child {
    margin-top: 0 !important; /* Đặt khoảng cách phía trên bằng 0 cho phần tử con đầu tiên nếu có lớp demo-only-element */
}

.demo-vertical-spacing-lg > * {
    margin-top: 1.875rem !important; /* Khoảng cách phía trên cho các phần tử con lớn */
    margin-bottom: 0 !important; /* Khoảng cách phía dưới bằng 0 */
}

.demo-vertical-spacing-lg.demo-only-element > :first-child {
    margin-top: 0 !important; /* Đặt khoảng cách phía trên bằng 0 cho phần tử con đầu tiên nếu có lớp demo-only-element */
}

.demo-vertical-spacing-xl > * {
    margin-top: 5rem !important; /* Khoảng cách phía trên cho các phần tử con lớn nhất */
    margin-bottom: 0 !important; /* Khoảng cách phía dưới bằng 0 */
}

.demo-vertical-spacing-xl.demo-only-element > :first-child {
    margin-top: 0 !important; /* Đặt khoảng cách phía trên bằng 0 cho phần tử con đầu tiên nếu có lớp demo-only-element */
}

.rtl-only {
    display: none !important; /* Ẩn các phần tử có lớp rtl-only */
    text-align: left !important; /* Căn trái văn bản */
    direction: ltr !important; /* Hướng văn bản từ trái sang phải */
}

[dir='rtl'] .rtl-only {
    display: block !important; /* Hiện các phần tử có lớp rtl-only khi hướng văn bản là RTL */
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
    display: -webkit-box; /* Hiển thị như một hộp Flexbox (cũ) */
    display: -ms-flexbox; /* Hiển thị như một hộp Flexbox (IE10) */
    display: flex; /* Hiển thị như một hộp Flexbox */
    -webkit-box-align: center; /* Căn giữa (cũ) */
    -ms-flex-align: center; /* Căn giữa (IE10) */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    -webkit-box-orient: vertical; /* Định hướng chiều dọc (cũ) */
    -webkit-box-direction: normal; /* Hướng bình thường (cũ) */
    -ms-flex-direction: column; /* Định hướng theo cột (IE10) */
    flex-direction: column; /* Định hướng theo cột */
    margin-top: 1rem; /* Khoảng cách 1rem từ phía trên */
}

.layout-demo-placeholder img {
    width: 900px; /* Chiều rộng của hình ảnh trong khung demo */
}

.layout-demo-info {
    text-align: center; /* Căn giữa văn bản trong thông tin demo */
    margin-top: 1rem; /* Khoảng cách 1rem từ phía trên */
}
